{% extends 'base.html.twig' %}

{% block body %}
    <div id="homeCarousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/images/copeaux1.jpg" alt="Des copeaux">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/copeaux1.jpg" alt="Des copeaux">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/images/copeaux1.jpg" alt="Toujours des copeaux">
            </div>
        </div>
    </div>
{% endblock %}