body {
    background-color: lightgray;
}

#homeCarousel .carousel-inner{
    height: 250px;
}

.img-background{
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}