{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mt-3 mb-4">Toutes les guitares</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-img-top img-background" style="background-image: url({{  product.image ? '/images/' ~ product.image : 'https://picsum.photos/id/145/600/400' }})" >
                    </div>
                        <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|raw|u.truncate(120, '...') }}</p>
                        <div class="d-flex justify-content-between align-item-center">
                            <a href="{{ path('product_detail_slug', {slug: product.slug}) }}" class="btn btn-dark">Voir la fiche</a>
                            <span class="h5 mt-auto">{{ product.price }} €</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}